/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*general style for all elements*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Cormorant Garamond',
        serif;
    background-color: #C9EAC9;
    font-size: 150%;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 220px;
    position: relative;
}

header {
    padding-top: 30px;
    padding-bottom: 15px;
}

#hero {
    height: 510px;
    width: 100%;
    background-image: url("../images/elena-mozhvilo-znhEe1cbbQE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#start-quiz {
    position: absolute;
    top: 55%;
    left: 50%;
    padding: 20px 40px;
    font-size: 24px;
    background-color: #1ECDE8;
    color: #fff;
    border: none;
    border-radius: 10px;
    align-items: center;
    transform: translate(-50%, -50%);
}

body {
    background-color: aliceblue;

}

/* styling for quiz.html*/

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

h1 {
    font-size: 150%;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin: 20px;
    justify-content: space-between;
}